* {
  margin: auto;
}

.call-to-action {
 font-size: 1.3rem;
  text-align: right;
  background-color: black;
  padding: 0.6rem;
}

h1 {
  color: white;
  font-size: 2.7rem;
  padding: 2rem 0rem 0.3 2rem;
}

h2 {
  margin-left: 0.5rem;
  padding: 0rem 0rem 1rem 0rem;
}

h4 {
  color: gray;
}

h1, h4 {
  background-color: black;
}
  
a.call {
  color: #b10000;
}

header h4 {
  font-size: 1.25rem;
  padding: 0rem 1rem 1.5rem 2rem;
}

nav {
  background-color: #939495;
  width: 100%;
  text-align: center;
  box-shadow: 0rem 0rem 1rem 0rem;
}

nav a {
  color: purple;
 /* width: 100%;*/
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0.5rem 2rem 0.4rem 2rem;
}

nav li {
  font-size: 1.3rem;
  display: inline;
  padding: 2.6rem;
  /*add margins*/
}

p.story {
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding: 0rem 1rem 1rem orem;
  line-height: 125%; 
}

article {
  padding: 2rem;
}

aside {
  float: right;
  padding-left: 1rem;
}

footer {
  float:
}











